.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer1{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.col-sm-10{
  border-right: 2px solid gray;
}

@media  screen and (max-width : 768px) {
  .col-sm-10{
    border:none
  }
 .footer1{
  flex-direction: row;
  margin-top: -50px;
  gap: 20px;
  
 }
 .form-control{
   width: 500px;
 }
 .footer1 h5{
   font-size: 10px;
   padding: 0 15px;
   align-items : center;
 }
  .row{
    margin: 50px;
  }
  .col-sm-2{
    margin-left: -260px;

  }
}